* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #DBDFAA;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #30475e;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #1abc9c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #17a088;
  }
  
  .result {
    text-align: center;
  }
  
  #shortLink {
    font-size: 20px;
    color: #30475e;
    margin-top: 10px;
  }
  
  